<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en">
    
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oswego Pads</title>
        <!-- Load Roboto font -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Load css styles -->
        <link rel="stylesheet" type="text/css" href="assets/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="assets/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="assets/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/pluton.css" />
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="css/pluton-ie7.css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="assets/jquery.cslider.css" />
        <link rel="stylesheet" type="text/css" href="assets/jquery.bxslider.css" />
        <link rel="stylesheet" type="text/css" href="assets/animate.css" />
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/apple-touch-icon-72.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57.png">
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
    </head>
    
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">
                        <%= image_tag("logo.png") %>
                        <!-- This is website logo -->
                    </a>
                    <!-- Navigation button, visible on small resolution -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-menu"></i>
                    </button>
                    <!-- Main navigation -->
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav" id="top-navigation">
                            <li class="active"><a href="#home">Our Mission</a></li>
                            <li><a href="#service">Experience</a></li>
                            <li><a href="#portfolio">Homes</a></li>
                            <li><a href="#apply">Apply</a></li>
                            <li><a href="#about">Our Team</a></li>
                            <li><a href="#clients">Reviews</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- End main navigation -->
                </div>
            </div>
        </div>
        <!-- Start home section -->
        <div id="home">
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    <!-- Start first slide -->
                    <div class="da-slide">
                        <h2 class="fittext2">Welcome to Oswego Pads</h2>
                        <h4>Beautiful Homes, Beautiful People</h4>
                        <p>At Oswego Pads, we measure our success based on the satisfaction of our tenants at the end of thier stay with us.</p>
						<a href="https://oswegopads.managebuilding.com/Resident/PublicPages/login.aspx" class="da-link button">Login</a>
                        <div class="da-img">
                            <%= image_tag("Slider01.png", width: '700')%>
                        </div>
                    </div>
                    <!-- End first slide -->
                    <!-- Start second slide -->
                    <div class="da-slide">
                        <h2>Beautiful Apartments</h2>
                        <h4>just like home</h4>
                        <p>The question we ask ourselves every day as we look at our homes is "would we live want to live here?"... We pride ourselves on having the most aesthetically pleasing and well maintained college rentals in downtown Oswego.</p>
						<a href="https://oswegopads.managebuilding.com/Resident/PublicPages/login.aspx" class="da-link button">Login</a>
                        <div class="da-img">
                            <%= image_tag("Slider02.png", width: '700')%>
                        </div>
                    </div>
                    <!-- End second slide -->
                    <!-- Start third slide -->
                    <div class="da-slide">
                        <h2>Beautiful People</h2>
                        <h4>& strong relationships</h4>
                        <p>We treat our tenants like family, and will always do what we can to make your experience as positive as possible. We're selective in our application process and look for people who will treat us and our houses with the same respect that we offer you.</p>
						<a href="https://oswegopads.managebuilding.com/Resident/PublicPages/login.aspx" class="da-link button">Login</a>
                        <div class="da-img">
                            <%= image_tag("Slider03.jpg", width: '700')%>
                        </div>
                    </div>
                    <!-- Start third slide -->
                    <!-- Start cSlide navigation arrows -->
                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                    <!-- End cSlide navigation arrows -->
                </div>
            </div>
        </div>
        <!-- End home section -->
        <!-- Service section start -->
        <div class="section primary-section" id="service">
            <div class="container">
                <!-- Start title section -->
                <div class="title">
                    <h1>...the Oswego Pads experience...</h1>
                    <!-- Section's title goes here -->
                    <p>the comfort of living at home with the convenience of living on campus</p>
                    <!--Simple description for section goes here. -->
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                            	<%= image_tag("Service1.png", class: 'img-circle')%>
                            </div>
                            <h3>Simplicity</h3>
                            <p>One price... WiFi, utilities, and maintenance included. Make payments & track your balance online.</p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                            	<%= image_tag("Service2.png", class: 'img-circle')%>
                            </div>
                            <h3>24/7 support</h3>
                            <p>Call us day or night. If you have a problem, we'll be there to fix it.</p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                            	<%= image_tag("Service3.png", class: 'img-circle')%>
                            </div>
                            <h3>Comfort</h3>
                            <p>Spacious living area, comfortable bedrooms, and quality bathrooms</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service section end -->
        <!-- Portfolio section start -->
        <div class="section secondary-section " id="portfolio">
            <div class="triangle"></div>
            <div class="container">
                <div class=" title">
                    <h1>Have You Seen our Homes?</h1>
                    <p>We currently have 3 beautiful homes in our portfolio, and are always looking to add more.</p>
                </div>
                <ul class="nav nav-pills">
                    <li class="filter" data-filter="all">
                        <a href="#noAction">All</a>
                    </li>
                    <li class="filter" data-filter="2bed">
                        <a href="#noAction">2 Bedroom</a>
                    </li>
                    <li class="filter" data-filter="3bed">
                        <a href="#noAction">3 Bedroom</a>
                    </li>
                    <li class="filter" data-filter="5bed">
                        <a href="#noAction">5 Bedroom</a>
                    </li>
                </ul>
                <!-- Start details for portfolio project 1 -->
                <div id="single-project">
                    <div id="slidingDiv" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <%= image_tag("Portfolio01a.jpg")%>
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Ansel</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Location</span>43 West 3rd</div>
                                    <div>
                                        <span>Size</span>5 Bedrooms, 2 Bathrooms, [ ] Sq Ft</div>
                                    <div>
                                        <span>Price</span>$500/month, everything included</div>
                                </div>
                                <p>Lakeview, hardwood floors, open living room & dining rooms, spacious bedrooms, newly renovated bathrooms, new kitchen appliances.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 1 -->
                    <!-- Start details for portfolio project 2 -->
                    <div id="slidingDiv1" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <%= image_tag("Portfolio02a.jpg")%>
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Beethoven</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Location</span>30 Dublin Street</div>
                                    <div>
                                        <span>Size</span>5 Bedrooms, 2.5 Bathrooms, [ ] Sq Ft</div>
                                    <div>
                                        <span>Price</span>$500/month, everything included</div>
                                </div>
                                <p>Close to campus, two giant livingrooms, large eat-in kitchen, nice backyard, 2 off-street parking spots</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 2 -->
                    <!-- Start details for portfolio project 3 -->
                    <div id="slidingDiv2" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <%= image_tag("Portfolio03a.jpg")%>
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Copperfield 1</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Location</span>92 Sheldon Street</div>
                                    <div>
                                        <span>Size</span>3 Bedrooms, 1 Bathroom, [ ] Sq Ft</div>
                                    <div>
                                        <span>Price</span>$550/month, everything included</div>
                                </div>
                                <p>Accross the street from  campus, new home, beautiful hardwood living room, large backyard, 3 off-street parking spots</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 3 -->
                    <!-- Start details for portfolio project 4 -->
                    <div id="slidingDiv3" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <%= image_tag("Portfolio04a.jpg")%>
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Copperfield 2</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Location</span>92 Sheldon Street</div>
                                    <div>
                                        <span>Size</span>2 Bedrooms, 1 Bathroom, [ ] Sq Ft</div>
                                    <div>
                                        <span>Price</span>$550/month, everything included</div>
                                </div>
                                <p>Accross the street from  campus, new home, large living room with porch, large backyard, 2 off-street parking spots</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 4 -->
                    <ul id="portfolio-grid" class="thumbnails row">
                        <li class="span4 mix 5bed">
                            <div class="thumbnail">
                            	<%= image_tag("Portfolio01.png")%>
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Ansel</h3>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix 5bed">
                            <div class="thumbnail">
                            	<%= image_tag("Portfolio02.png")%>
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv1">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Beethoven</h3>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix 3bed">
                            <div class="thumbnail">
                            	<%= image_tag("Portfolio03.jpg")%>
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv2">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Copperfield 1</h3>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix 2bed">
                            <div class="thumbnail">
                            	<%= image_tag("Portfolio04.jpg")%>
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv3">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Copperfield 2</h3>
                                <div class="mask"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Portfolio section end -->
		
        <!-- Apply section start -->
        <div class="section primary-section " id="apply">
                <div class="triangle"></div>
            <div class="container">
	                <h3>Key Benefits</h3>
	                <div class="row-fluid">
	                    <div class="span6">
	                        <ul class="skills">
	                            <li>
	                                <span class="bar" data-width="97%"></span>
	                                <h3>Beautiful, well-maintained home</h3>
	                            </li>
	                            <li>
	                                <span class="bar" data-width="90%"></span>
	                                <h3>Hassle free living experience</h3>
	                            </li>
	                            <li>
	                                <span class="bar" data-width="95%"></span>
	                                <h3>A company that puts your needs first</h3>
	                            </li>
	                            <li>
	                                <span class="bar" data-width="87%"></span>
	                                <h3>Affordable price</h3>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="span6">
	                        <div class="highlighted-box center">
	                            <h1>Join the Oswego Pads Family</h1>
	                            <p>We review applications and meet in person (or over the phone) all tenants who are looking to become part of the Oswego Pads family. We review these applications and our discussions carefully to ensure we are selecting tenants who will be respectful of our homes and employees. We invest the time upfront because once your in, it becomes our priority to ensure you have a highly positive and comfortable experience.</p>
	                            <button class="button button-sp" onclick="window.location.href='https://oswegopads.managebuilding.com/Resident/apps/rentalapp/'">Apply Now</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
		
        <!-- Apply section end -->		
        <!-- About us section start -->
        <div class="section primary-section" id="about">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>Our Team</h1>
                    <p>We started this company together out of the belief that the tenant-landlord relationship should be a strongly positive one. Nothing frustrates us more than slumlords and we design our business to create an environment where every tenant who moves out would give the experience a 5-star.</p>
                </div>
                <div class="row-fluid team">
                    <div class="span4 offset2" id="first-person">
                        <div class="thumbnail">
                            <%= image_tag("Team1.png")%>
                            <h3>Jackie, Property Manager</h3>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/jackie.m.katz">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="www.linkedin.com/pub/jackie-katz/11/b96/aa6/en">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>The Overprotective Mother</h2>
                                <p>The sweetest most caring landlord west of the Oswego River, your mom away from home. She coordinates renting out the apartments, taking care of current tenants, and maintaining the homes on the day-to-day.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="second-person">
                        <div class="thumbnail">
                            <%= image_tag("Team2.png")%>
                            <h3>Josh, Tenant Experience Manager</h3>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/Joshua.R.Katz">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="www.linkedin.com/pub/joshua-katz/1b/9b9/924/en">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>The Favorite Uncle</h2>
                                <p>With most rental companies you barely get one landlord who cares, with Oswego Pads you get two. Josh will stay in touch with you throughout the year to make sure you're comfortable and enjoying the home experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- About us section end -->

        <!-- Client section start -->
        <!-- Client section start -->
        <div id="clients">
            <div class="section primary-section">
                <div class="container">
                    <div class="title">
                        <h1>What Do Past Tenants Say?</h1>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <div class="testimonial">
                                <p>"Coming soon."</p>
                                <div class="whopic">
                                    <div class="arrow"></div>
                                    <strong>John Doe
                                        <small>Ansel, 2014/15</small>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="testimonial">
                                <p>"Coming soon."</p>
                                <div class="whopic">
                                    <div class="arrow"></div>
                                    <strong>John Doe
                                        <small>Beethoven, 2014/15</small>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="testimonial">
                                <p>"Coming soon."</p>
                                <div class="whopic">
                                    <div class="arrow"></div>
                                    <strong>John Doe
                                        <small>Copperfield, 2014/15</small>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="testimonial-text">
                        "For every 20 homes we look at buying, we find one we believe has the qualities we seek to provide our students"
                    </p>
                </div>
            </div>
        </div>
        
        <!-- Contact section start -->
        <div id="contact" class="contact">
            <div class="section secondary-section">
                <div class="container">
                    <div class="span9 center contact-info">
                        <h2>Talk to us... we love students who love our homes</h2>
                        <p class="info-mail">lookwithjackie@gmail.com</p>
                        <p>+1 (315) 720-6732</p>
                        <!-- ><div class="title">
                            <h3>We Are Social</h3>
                        </div>-->
                    </div>
                </div>
                <div class="map-wrapper">
                    <div class="map-canvas" id="map-canvas">Loading map...</div>
                </div>
                <div class="container">
                    <!--
					<div class="row-fluid centered">
                        <ul class="social">
                            <li>
                                <a href="">
                                    <span class="icon-facebook-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-twitter-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-linkedin-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-pinterest-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-dribbble-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-gplus-circled"></span>
                                </a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
        <!-- Contact section edn -->
        <!-- Footer section start -->
        <div class="footer">
            <p>&copy; 2015 All Rights Reserved</p>
        </div>
        <!-- Footer section end -->
        <!-- ScrollUp button start -->
        <div class="scrollup">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>
        </div>
        <!-- ScrollUp button end -->
        <!-- Include javascript -->
        <script src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.mixitup.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.js"></script>
        <script type="text/javascript" src="js/jquery.bxslider.js"></script>
        <script type="text/javascript" src="js/jquery.cslider.js"></script>
        <script type="text/javascript" src="js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="js/jquery.inview.js"></script>
        <!-- Load google maps api and call initializeMap function defined in app.js -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;callback=initializeMap"></script>
        <!-- css3-mediaqueries.js for IE8 or older -->
        <!--[if lt IE 9]>
            <script src="js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>